/* screen - screen2 */

.screen2 {
  align-items: flex-start;
  background-color: var(--zircon);
  border: 1px none;
  display: flex;
  height: 812px;
  overflow: hidden;
  width: 375px;
}

.screen2 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  margin-top: 28px;
  min-height: 757px;
  width: 336px;
}

.screen2 .icon {
  align-self: center;
  height: 23px;
  margin-left: 2.0px;
  width: 34px;
}

.screen2 .text-61 {
  letter-spacing: -0.72px;
  margin-left: 25px;
  margin-top: 49px;
  min-height: 31px;
}

.screen2 .text-62 {
  align-self: center;
  letter-spacing: 0;
  line-height: 21px;
  margin-left: 1.0px;
  margin-top: 15px;
  min-height: 21px;
  white-space: nowrap;
  width: 287px;
}

.screen2 .form-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  min-height: 76px;
  width: 334px;
}

.screen2 .title {
  letter-spacing: 0;
  line-height: 16.4px;
  margin-left: 23px;
  margin-top: -1px;
  min-height: 16px;
  white-space: nowrap;
}

.screen2 .overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--mercury);
  border-radius: 15px;
  display: flex;
  height: 50px;
  margin-top: 11px;
  min-width: 334px;
  padding: 14px 22px;
}

.screen2 .place-holder {
  letter-spacing: 0;
  line-height: 19.2px;
  min-height: 19px;
  white-space: nowrap;
}

.screen2 .form {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  margin-top: 20px;
  min-height: 76px;
  width: 334px;
}

.screen2 .place-holder-1 {
  letter-spacing: 0;
  line-height: 16.4px;
  min-height: 16px;
  white-space: nowrap;
}

.screen2 .checkbox {
  align-items: flex-start;
  background-color: #fcfcfc;
  border: 1px solid;
  border-color: var(--mercury);
  border-radius: 4px;
  display: flex;
  height: 16px;
  justify-content: flex-end;
  margin-left: 23px;
  margin-top: 28px;
  min-width: 16px;
}

.screen2 .type-here {
  color: var(--charade);
  font-family: var(--font-family-dm_sans);
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16.5px;
  margin-top: -4px;
  min-height: 17px;
  white-space: nowrap;
}

.screen2 .group-458 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  margin-top: 53px;
  min-height: 124px;
  width: 335px;
}

.screen2 .button {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(249.26, 135.89, 31.24) 0%, rgb(255, 119.34, 76.5) 100%);
  border: 1px none;
  border-radius: 20px;
  box-shadow: 0px 10px 30px #c942101a;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  padding: 15px 20px;
  width: 335px;
}

.screen2 .create-an-account {
  letter-spacing: -0.14px;
  line-height: 21.3px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.screen2 .button-1 {
  align-items: flex-start;
  border: 1px none;
  border-radius: 20px;
  box-shadow: 0px 10px 30px #c942101a;
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin-top: 20px;
  padding: 15px 20px;
  width: 335px;
}

.screen2 .create-an-account-1 {
  color: var(--red-orange);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: -0.15px;
  line-height: 22.5px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.screen2 .job-finder-app-1 {
  height: 4096px;
  margin-left: 1864px;
  margin-top: -466px;
  object-fit: cover;
  width: 974px;
}
