:root { 
  --beauty-bush: #f0c9c1;
  --black: #000000;
  --cape-cod: #414141;
  --desert-sand: #f0ccc11a;
  --eerie-black: #1b1b1b;
  --gunsmoke: #7e8389;
  --masala: #3c3c3c;
  --mercury: #dee2e5;
  --mountain-mist: #8d9298;
  --mystic: #e8eaef;
  --red-orange: #fe554a;
  --rolling-stone: #7676801f;
  --scarpa-flow: #4f5663;
  --ship-gray: #3c3c435c;
  --silver-chalice: #a9abae;
  --soft-peach: #f6e9eb;
  --tropical-rain-forest: #0b735f;
  --white: #ffffff;
  --zircon: #f8fbff;
 
  --font-size-l: 14px;
  --font-size-m: 13px;
  --font-size-s: 12px;
  --font-size-xl: 15px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 20px;
  --font-size-xxxxl: 24px;
 
  --font-family-dm_sans: "DM Sans", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
}
.inter-semi-bold-cape-cod-15px {
  color: var(--cape-cod);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.dmsans-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-13px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-cape-cod-13px {
  color: var(--cape-cod);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.dmsans-medium-gunsmoke-13px {
  color: var(--gunsmoke);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.dmsans-bold-masala-18px {
  color: var(--masala);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.dmsans-normal-eerie-black-14px {
  color: var(--eerie-black);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.dmsans-normal-red-orange-15px {
  color: var(--red-orange);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.dmsans-normal-masala-13px {
  color: var(--masala);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-gunsmoke-13px {
  color: var(--gunsmoke);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.dmsans-normal-masala-12px {
  color: var(--masala);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.dmsans-bold-scarpa-flow-18px {
  color: var(--scarpa-flow);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.dmsans-normal-scarpa-flow-15px {
  color: var(--scarpa-flow);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.poppins-bold-tropical-rain-forest-20px {
  color: var(--tropical-rain-forest);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.dmsans-bold-masala-24px {
  color: var(--masala);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.dmsans-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.dmsans-normal-silver-chalice-14px {
  color: var(--silver-chalice);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.dmsans-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.dmsans-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.dmsans-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.dmsans-bold-zircon-18px {
  color: var(--zircon);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.dmsans-bold-mountain-mist-18px {
  color: var(--mountain-mist);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.dmsans-bold-tropical-rain-forest-20px {
  color: var(--tropical-rain-forest);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.dmsans-medium-gunsmoke-15px {
  color: var(--gunsmoke);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.dmsans-normal-black-15px {
  color: var(--black);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.dmsans-bold-white-17px {
  color: var(--white);
  font-family: var(--font-family-dm_sans);
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
}


